{
    "rules": {
        // first argument: 0 - silent, 1 - warning, 2 - error
        "brace-style": [
            2,
            "allman",
            {
                "allowSingleLine": true
            }
        ]
    }